<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 
 <!-- 前端控制器 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<!-- 设置字符集 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 登录拦截器 -->
    <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class> com.common.controller.LoginFilter</filter-class>
  </filter>
<!--   拦截所有jsp等 -->
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
     <url-pattern>css</url-pattern>
     <url-pattern>jsp</url-pattern>
    <url-pattern>img</url-pattern>
     <url-pattern>js</url-pattern>  
  </filter-mapping>  
  
   <!-- 项目默认访问界面  -->
  <welcome-file-list>
    <welcome-file>jsp/home.jsp</welcome-file>
  </welcome-file-list>  
  
  <error-page> 
<error-code>404</error-code> 
<location>/jsp/error.jsp</location> 
</error-page> 
	
	
  	<!-- 配置spring工厂 -->
  	<listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	
  	<!-- 指定spring-mybatis配置文件的位置  -->
  	<context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:spring-mybatis.xml</param-value>
  	</context-param>
</web-app>
